In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/pablomdata/ml-bespoke/main/data/apartments.csv")

In [3]:
df.head()

   m2.price  construction.year  surface  floor  no.rooms     district
0      5897               1953       25      3         1  Srodmiescie
1      1818               1992      143      9         5      Bielany
2      3643               1937       56      1         2        Praga
3      3517               1995       93      7         3       Ochota
4      3013               1992      144      6         5      Mokotow

In [4]:
df.columns

Index(['m2.price', 'construction.year', 'surface', 'floor', 'no.rooms',
       'district'],
      dtype='object')

In [5]:
X = df[['m2.price', 'construction.year', 'surface', 'floor', 'no.rooms']]

**Exercise:** Find a clustering for `